.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .menu {
    margin-right: 0;
  }

  .menu-items {
    flex-direction: column;
  }

  .menu-items input,
  .menu-items button {
    width: 100%;
    margin-right: 0;
  }
}

.menu-items button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height:5%; 
 
}

.displayUsers {
  width: 100%;
  max-width: 600px;
}

.displayUsers div {
  margin: 10px 0;
  padding: 3%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.displayUsers h1 {
  margin-bottom: 5px;
}

.displayUsers input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.displayUsers button {
  margin-right: 10px;
  background-color: #f44336;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.displayUsers button.update {
  background-color: #2196f3;
}
